<ng-include ng-show="!finished" src="'views/trial.html'"></ng-include>

<div ng-show="finished" class="l-center text">
  <h1>Final questions</h1>
  <div class="form-group form-group-block">
    <label>Did you notice anything strange about the trials?</label>
    <textarea ng-model="experiment.initialFeedback"></textarea>
  </div>
  <div class="form-group form-group-block">
    <label>In some of the trials we switched the face you chose to the other one. Did you notice this?</label>
    <div class="form-group">
      <label for="noticedYes">Yes</label>
      <input type="radio" name="noticed" ng-model="experiment.noticed" value="true" id="noticedYes"></input>
    </div>
    <div class="form-group">
      <label for="noticedNo">No</label>
      <input type="radio" name="noticed" ng-model="experiment.noticed" value="false" id="noticedNo"></input>
    </div>
  </div>
  <div class="form-group form-group-block">
    <label>Do you have anything to say about the experiment? Please leave feedback down below.</label>
    <textarea ng-model="experiment.debriefedFeedback"></textarea>
  </div>
</div>

<div ng-show="finished" class="controls">
  <h3>Click here to complete the experiment</h3>
  <button ng-click="completeExperiment()" class="precise-button"></button>
</div>