<div ng-show="!started" class="l-center text">
  <h1>Welcome</h1>
  <p>The experiment will have two parts with multiple trials where you chose between two faces based on attractiveness. It’s important that you use your dominant hand, as this study aims to evaluate any possible correlations between handedness and attractiveness ratings.</p>
  <p>This will take approximately X minutes. If you have read this form and have decided to participate in this experiment, please understand your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty. Your individual privacy will be maintained in all published and written data resulting from the study.</p>
  <p>If you agree with the above-stated conditions and are willing to participate in the experiment, please check the checkbox below. By doing this, you confirm that you meet the following conditions:</p>
  <ul>
    <li>You are at least 18 years old.</li>
    <li>You have read the above consent, understood it and you agree to it.</li>
    <li>You want to participate in the above-mentioned experiment.</li>
  </ul>
</div>

<div class="controls">
  <h3>Click here to continue</h3>
  <a ng-href="#/preTrial" class="precise-button"></a>
</div>