<div ng-class="{'is-flipped': !trial.images[0].show, 'replace': trial.images[0].replace, 'chosen': trial.data.choice == 0 && !trial.images[0].replace}" class="flip-container face face-left">
  <div class="flipper">
    <div class="front">
      <img class="face-image" ng-src="{{trial.images[0].url}}">
    </div>
    <div class="back">
      <div ng-show="!trial.showStart && !trial.images[1].show && !trial.waiting && !trial.showButton && trial.data.choice == null" class="face-target" ng-click="trial.choiceMade(0, trial.images[0].id)"></div>
     <img class="face-image face-back" ng-src="{{trial.backImage[1]}}">
    </div>
  </div>
</div>

<div ng-class="{'is-flipped': !trial.images[1].show, 'replace': trial.images[1].replace, 'chosen': trial.data.choice == 1 && !trial.images[1].replace}" class="flip-container face face-right">
  <div class="flipper">
    <div class="front">
      <img class="face-image" ng-src="{{trial.images[1].url}}">
    </div>
    <div class="back">
      <div ng-show="!trial.showStart && !trial.images[0].show && !trial.waiting && !trial.showButton && trial.data.choice == null" class="face-target" ng-click="trial.choiceMade(1, trial.images[1].id)"></div>
     <img class="face-image face-back" ng-src="{{trial.backImage[0]}}">
    </div>
  </div>
</div>

<div class="controls">
  <h3 ng-show="trial.showStart">Click here to start</h3>
  <countdown-button ng-click="startTrial()" hold="trial.holdMouse" ng-show="trial.showStart || trial.showButton" time="trial.waiting"></button>
</div>

<div ng-show="trial.showScale && !trial.waiting" class="controls">
  <h3>How sure are you?</h3>
  <div class="l-center">
    <span class="scale-legend scale-legend-left">Less sure</span>
    <button class="radio-button" ng-click="trial.rate(1)"><span>1</span></button>
    <button class="radio-button" ng-click="trial.rate(2)"><span>2</span></button>
    <button class="radio-button" ng-click="trial.rate(3)"><span>3</span></button>
    <button class="radio-button" ng-click="trial.rate(4)"><span>4</span></button>
    <button class="radio-button" ng-click="trial.rate(5)"><span>5</span></button>
    <button class="radio-button" ng-click="trial.rate(6)"><span>6</span></button>
    <button class="radio-button" ng-click="trial.rate(7)"><span>7</span></button>
    <span class="scale-legend scale-legend-right">More sure</span>
  </div>
</div>

<div ng-show="trial.showFeedback && !trial.waiting" class="controls">
  <h3>You chose the face above. Why did you choose this face?</h3>
  <div class="l-center">
    <button ng-click="trial.feedback('mouth')">Mouth</button>
    <button ng-click="trial.feedback('eyes')">Eyes</button>
    <button ng-click="trial.feedback('nose')">Nose</button>
    <button ng-click="trial.feedback('proportion')">Proportions</button>
    <button ng-click="trial.feedback('skin')">Skin</button>
    <button ng-click="trial.feedback('shape')">Shape</button>
    <button class="button-other" ng-click="trial.feedback('other')">I actually prefer the other face</button>
  </div>
</div>

<div ng-show="!trial.showButton" class="l-center">
  <countdown time="trial.waiting"></countdown>
</div>
